body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.caixa{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}
label{
    display: block;
    text-decoration: left;
    margin-top: 8px;
}